body{
    margin: 0px;
    padding: 0px;
    background: var(--color1);
}
*{
    font-family: Arial, Helvetica, sans-serif !important;
    /* font-family: sans-serif font, Riona Sans Bold Italic; */
}
:root{
    --color1:#f0f5ff;
    --color2:#212121;
}
#outer{
    width: 100%;
    min-height: 1000px;
    background: var(--color1);
}
#top{
    width: 100%;
    height: 80px;
    padding: 0px 100px;
    box-sizing: border-box;
}
.t1{
    width: 145px;
    height: 80px;
    float: left;
    line-height: 80px;
}
.t2 {
    width: 550px;
    height: 80px;
    float: left;
    line-height: 80px;
    padding: 0px 20px;
    box-sizing: border-box;
}
.txt{
    width: 100%;
    height: 45px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    background-color:#e4e9f1;
}
.btn{
    width: 100px;
    height: 45px;
    font-size: 15px;
    border: var(--color1);
    border-radius: 5px;
    font-weight: bold;
}
#top2{
    width: 100%;
    height: 180px;
    background-color:white;
    padding: 0px 50px;
    box-sizing: border-box;
}
.a{
    width: 100px;
    height: 120px;
    float: left;
    margin: 11px;
    border-radius: 10px;
   
}
.x1{
    width: 100px;
    height: 80px;
  margin-left: 10px;
}
.x2{
    width: 100px;
    height: 50px;
    /* line-height: 40px; */
    padding: 10px 0px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

/*slider section */
#slider{
    width: 100%;
    height: 300px;
    background-color: #212121;
    background: url(images/slider4.webp);
    background-size: cover;
    animation: slider 5s  infinite linear;
    margin-bottom: 30px;
}

/*Animation for slider*/
  @keyframes slider {
      0% {
        background: url(images/slider1.webp);
        background-size: cover;
          transform: translateX(0);
      }
      50%{
        background: url(images/slider3.webp);
        background-size: cover;
        transform: translateX(-1000);
      }
           100% {
               background: url(images/slider4.webp);
               background-size: cover;
               transform: translateX(-1000);
           }
  }

  /*smartphone section*/
  #smartphones{
    width: 100%;
    height: 300px;
  }
  .sm1{
    width: 1100px;
    height: 300px;
    float: left;
  }
  .sm2 {
        width: 230px;
        height: 300px;
        float: left;
       
     }
 .p1{
    width: 1100px;
    height: 40px;
    font-weight: bold;
   background-color: white;
    padding: 0px 20px;
    box-sizing: border-box;
    font-size: 25px;
 }
 .p2 {
     width: 1100px;
     height: 260px;
     padding: 0px 25px;
     background-color: white;
     box-sizing: border-box;
 }
 .pic{
    width: 155px;
    height: 260px;
    float: left;
    margin-left: 20px;
 }
.c1{
    width: 155px;
    height: 180px;
}
.c2 {
    width: 155px;
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    line-height: 25px;
}

/*first card section */
#card{
    width: 100%;
    min-height: 500px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 30px;
}
.ct1{
    width: 100%;
    height: 250px;
}
.ct2 {
    width: 100%;
    height: 250px;
}
.card1{
    width: 400px;
    height: 210px;
    float: left;
    margin: 20px;
}

#slide{
    width: 100%;
    height: 200px;
    background:white;
    margin-top: 10px;
    padding: 0px 25px;
    box-sizing: border-box;
   
}
.s1{
    width: 325px;
    height: 180px;
    float: left;
    
}
.s1 img{
    width: 325px;
    height: 180px;  
   
}

/*multicard*/

#multicard{
    width: 100%;
    height: 600px;
    background-color: #212121;
    margin-top: 40px;
    padding: 25px;
    box-sizing: border-box;
}
.m1{
    width: 410px;
    height: 550px;
    background-color: yellow;
    float: left;
    margin: 10px;
}
.mc1{
    width: 410px;
    height: 50px;
    background-color: magenta;
}
.mc2{
    width: 410px;
    height: 250px;
    background-color: red;
}
.mp1{
    width: 190px; 
    height: 240px;
    background-color: aqua;
    float: left;
    margin: 5px;
    border: 1px solid black;
}
.mimg{
    width: 190px;
    height: 180px;
    background-color: darkblue;
    padding: 10px;
    box-sizing: border-box;

}
.mname {
    width: 190px;
    height: 60px;
    background-color: palegreen;

}