h3 {
  color: maroon;
  background-color: rgb(252, 146, 6);
  font-size: 30px;
  border-radius: 20px;
  border: 10 solid black;
}
h4 {
  color: white;
  background-color: red;
  font-size: 10px;
  text-align: center;
  border-radius: 20px;
  border: 10 solid black;
}
h6 {
  color: aqua;
  background-color: burlywood;
  text-align: center;
  border-radius: 20px;
  border: 10 solid black;
}
