.login:hover {
  /* transform: perspective(400px) rotateY(10deg) scale(1.1);
            transition: all .5s; */
  transform: scale(1.08);
  transition: all 0.5s;
}

.form-control {
  height: 50px;
}

/* Task10 */
.form-control {
  height: 45px;
}
.lock {
  height: 130px;
  width: 130px;
  font-size: 70px;
  line-height: 130px;
  text-align: center;
  border-radius: 50%;
  color: white;
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .lock {
    display: none !important;
  }
}
/* Task10 */
