@media screen and (max-width: 700px) {
  .a {
    display: none;
  }
}
* {
  font-family: "Open Sans", sans-serif;
  /* overflow-x: hidden; */
}
.fontFamily {
  font-family: "Dancing Script", cursive;
}
.top {
  min-height: 650px;
  width: 1200px;
  background: url("/hero-bg.jpg");
  background-size: 100% 100%;
}
.size {
  font-size: 45px;
}
.box {
  padding: 75px;
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
  /* animation: demo 3s ease-in-out infinite normal; */
}

/* @keyframes demo {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(-100px);
  }
} */
