:root {
    --bgcolor: #eff3ff;
    --textcolor: #0d9488;
    --ftextcolor: #312e81;
}

.bg-color {
    background-color: var(--bgcolor);
}

.bg1-color {
    background-color: var(--ftextcolor);
}

.text-color {
    color: var(--textcolor);
}

.first-color {
    color: var(--ftextcolor);
}

nav ul li:hover {
    background-color: var(--textcolor);
    text-align: center;
    padding: 0px 5px;
}

#navbarNav {
    justify-content: end;
    font-size: 17px;
}

.btn1 {
    height: 45px;
    background-color: var(--ftextcolor);
}

.img {
    height: 250px !important;
    width: 250px !important;
}

.skill button {
    background-color: var(--bgcolor);
    color: var(--textcolor);
    border: none;
}

ul li::marker {
    color: #0d9488;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    color: white;
    z-index: 1;

}